let mapleader = "\<Space>"
""" Plugins  --------------------------------
set visualbell
set noerrorbells
set surround
set multiple-cursors
set commentary
set argtextobj
set hlsearch
set incsearch
set easymotion
set textobj-entire
set ReplaceWithRegister
set exchange
" Trying the new syntax
Plug 'easymotion/vim-easymotion'
Plug 'machakann/vim-highlightedyank'


" j+k or k+j escapes insert mode
imap jk <ESC>
imap kj <ESC>

" Map CapsLock to left arrow key in insert mode
imap <CapsLock> <Esc>li

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => The most relevant keybindigs
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>w :w!<CR>
nnoremap <leader>q :q!<CR>

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Useful mappings to make search results appear in the middle of the screen
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz

